#bck {
    background-image: url("kawaii.jpg");
    background-size: cover;
    text-align: center;
    word-wrap: break-word;
}

#time {
    font-size: 15px;
    position: absolute;
    top: 10px;
    right: 19px;
}

#nextQuestion {
    position: absolute;
    right: 120px;
    bottom: 200px;
}

#ans, #two, #three, #four {
    position: relative;
    left: 350px;
    top: -85px;
}

#hscore {
    font-size: 15px;
    position: absolute;
    top: 10px;
    left: 19px;
}
/* Background Credit for README: https://wallpaperaccess.com/full/416844.jpg */

/*MAKE SURE THIS IS RESPONSIVE ACROSS ALL DEVICE TYPES*/