#bck {
    background-image: url("../images/cloud.jpeg");
    background-size: cover;
    text-align: center;
    word-wrap: break-word;
}

#time {
    font-size: 15px;
    position: absolute;
    top: 10px;
    right: 19px;
}

#nextQ {
    position: absolute;
    right: 120px;
    bottom: 200px;
}

#finale {
    position: absolute;
    right: 350px;
    bottom: 300px;
}

#ans, #two, #three, #four {
    position: relative;
    left: 350px;
    top: -85px;
    font-size: 15px;
    word-wrap: break-word;
}

#hscore {
    font-size: 15px;
    position: absolute;
    top: 10px;
    left: 19px;
}

@media screen and (min-width: 113px) {
    .display-4 {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    #startbtn {
        margin-top: -60px;
    }
    #ans, #two, #three, #four {
        position: relative;
        left: 80px;
        max-width: 150px;
    }
    #ans {
        margin-top: 80px;
    }
    #initials {
        position: relative;
        left: 60px;
        text-align: center;
        margin-top: 10px;
    }
    #submit {
        position: relative;
        margin-top: 15px;
        left: 100px;
    }
    #time {
        position: absolute;
        right: 30px;
    }
}

 @media screen and (max-height: 732px) {
    .display-4 {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    #startbtn {
        margin-top: -60px;
    }
    #ans, #two, #three, #four {
        position: relative;
        left: 120px;
        max-width: 150px;
    }
    #ans {
        margin-top: 80px;
    }
    #initials {
        position: relative;
        left: 62px;
        margin-top: 10px;
        text-align: center;
    }
    #submit {
        position: relative;
        left: 98px;
        margin-top: 15px;
    }
    #time {
        position: absolute;
        right: 30px;
    }
} 

@media screen and (min-width: 768px) {
    #ans, #two, #three, #four {
        max-width: 150px;
        left: 285px;
    }
    .display-4 {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    #ans {
        margin-top: 100px;
    }
    #initials {
        position: relative;
        left: 270px;
        text-align: center;
        margin-top: 10px;
    }
    #submit {
        position: relative;
        margin-top: 15px;
        left: 310px;
    }
}

@media screen and (min-height: 1110px) {
    #ans, #two, #three, #four {
        max-width: 150px;
        left: 385px;
    }
    .display-4 {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    #ans {
        margin-top: 100px;
    }
    #initials{
        position: relative;
        left: 380px;
        text-align: center;
        margin-top: 5px;
    }
    #submit {
        position: relative;
        margin-top: 15px;
        left: 420px;
    }
}
